# ================= UNITY GENERATED =================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/

# ================= IDE FILES =================
.vs/
*.sln
*.csproj
*.unityproj
*.user
*.userprefs

# ================= OS FILES =================
.DS_Store
Thumbs.db

# ================= EXTERNAL ASSETS =================
Assets/ExternalPackages/
