# =============== UNITY GENERATED ===============
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Uu]serSettings/
[Mm]emoryCaptures/

# =============== LOGS & CRASHES ===============
*.pidb
*.booproj
*.svd
*.log
*.bak
*.tmp

# =============== VS / RIDER FILES ===============
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# =============== PACKAGE MANAGER ===============
Packages/com.*
*.unitypackage

# =============== OS FILES ===============
.DS_Store
Thumbs.db

# =============== GENERATED META FILES ===============
*.meta

# Unity gitignore
